.container{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: white;
    text-align: center;
    border: lightgray 1px solid;
    padding: 15px;
}


.containerR{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: white;
    border: lightgray 1px solid;
    padding: 15px;
}

#srodek {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="text"], input[type="text"]:hover, input[type="password"], input[type="password"]:hover{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px;
    padding-left: 20px;
    width: 80%;
    box-shadow: none;
    outline: none;
}

input[type="submit"], input[type="button"]{
    padding: 10px;
    background-color: #2271b1;
    color: white;
    border: none;
    border-radius: 6px;
}

img{
    width: 400px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #1160a0;
    cursor: pointer;
}

input[type="checkbox"]{
    padding: 70px;
    border-radius: 5px;
}